body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-heighlight{
    color: orange;
}
.flexiable-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg, orange,tomato);
    border-radius: 5%;
    color: white;
    padding: 10px 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-subtitle{
    color: tomato;
}
.shadow{
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.space{
    margin-left: 13px;
    margin-right: 13px;
}
.border-left{
    border-left: 7px solid #ff4500;
    
}
footer p{
    text-align: center;
}